* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* css variable */
:root {
  --box-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
  --desc-color: #5f5b53;
}
/* khôi phục cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
}
/* ==============common=============== */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--box-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -2%;
}
.nav a {
  color: rgb(77, 71, 63);
  font-size: 1.8rem;
  padding: 8px 21px;
  position: relative;
}

.main-content {
  width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 16px 0px;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* edge case: xử lí nếu người dùng input doạn paragraph dài, thì sẽ bị tràn ra ngoài khung. */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* giới hạn số dòng hiển thị của đoạn văn bản, nếu vượt quá số dòng thì sẽ bị ẩn đi và hiển thị dấu "..." ở cuối đoạn văn bản. */
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-3 {
  --line-clamp: 3;
}

/* edge case: xử lí nếu người dùng input đoạn paragraph dài, không có khoảng trắng, thì sẽ bị tràn ra ngoài khung. */
.break-all {
  word-break: break-all;
}
/* ==============header=============== */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  /* trên-trái phải-dưới */
  padding: 36px 0px 8px;
}
/* ==============navigation=============== */
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav li.active a,
.nav a:hover {
  text-decoration: none;
  /* font-weight: 600; */
  text-shadow: -1px 0px 0px currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: " ";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 200px;
}

.header .action {
  margin-left: 49px;
}

/* ==============hero=============== */
.hero {
  padding-top: 56px;
  background-color: #fffcf4;
  padding: 56px 65px;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

/* ========== hero-left========== */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  opacity: 1;
  border-radius: 12px;
  background: #ffffff;
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  padding-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-style: semi-bold;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
  color: #171100;
}

/* =============hero-right=============== */

.hero .content-block {
  padding-top: 64px;
  padding-left: 130px;
  width: 52%;
}

.hero .content-block .heading {
  font-family: var(--box-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.61px;
}

.hero .desc {
  padding-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.hero-cta {
  line-height: 40px;
  background-color: var(--primary-color);
  min-width: 180px;
}

.cta-group .watch-video {
  margin-left: 28px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  /* đổ bóng xuống dưới 8px, mờ 16px, bóng màu đen */
  box-shadow: 0 8px 16px 0 #ad252512;
}

.hero .watch-text {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  columns: #171100;
}

.hero .desc {
  padding-top: 48px;
}

.hero .stats {
  padding-top: 8px;
}

.hero .stats strong {
  font-family: var(--box-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
  color: black;
}

.hero .stats strong:nth-child(2) {
  padding-left: 28px;
}

/* =============popular=============== */
.popular {
  padding: 65px 0;
  background: white;
  margin-top: 200px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ffb900;
  justify-content: center;
  align-items: center;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
}

.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 22px;
  background: rgb(252, 252, 252);
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  border: 1px solid #e2dfda;
  width: 100%;
  height: 278px;
  object-fit: cover;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: var(--desc-color);
}

.course-item .info .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.course-item .info .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.course-item .info .rating {
  color: #fea31b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* =============feedback=============== */
.feedback {
  margin-top: 200px;
  background-color: #2e2100;
}

.feedback-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0;
  flex-shrink: 0;
  width: 100%;
}
/* khối trái */
.feedback .feedback-item .avt {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .member {
  color: #f7f7f7;
  font-family: var(--box-heading);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .desc {
  color: #bfbcb2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  margin-top: 4px;
}
.feedback-item .dots {
  display: flex;
  margin-top: 20px;
  gap: 6px;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}

.feedback-item .info .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback img.open-quotes {
  width: 30px;
  height: 28px;
  position: absolute;
  left: -30px;
  top: -28px;
}

.feedback-item .quotes {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

.feedback-item .content {
  width: 66%;
  position: relative;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

/* =============features 1=============== */
.features {
  margin-top: 135px;
  padding: 65px 0;
  background: white;
}

.features .body {
  display: flex;
}

.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .img1 {
  margin-top: 34px;
}

.features .content {
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .content .heading {
  color: #171100;
  font-family: var(--box-heading);
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.features .content > .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.features .btn {
  margin-top: 32px;
  border-radius: 26px;
  background: var(--primary-color);
}

/* =============features 2=============== */
.features2 {
  margin-top: 135px;
  padding: 65px 0;
  background: white;
  width: 1.23;
}

.features2 .main-content {
  display: flex;
}
.features2 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 130px;
}
.features2 .main-content img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top right;
}

.features2 .main-content .heading-lv2 {
  color: #171100;
  font-family: var(--box-heading);
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.features2 .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.features2 .main-content .btn {
  margin-top: 32px;
  border-radius: 26px;
  background: var(--primary-color);
  width: 137px;
  height: 50px;
}

/* =============Blog=============== */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  color: #696262;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  width: 448px;
  margin: 16px auto;
}

.blogs .blog-list {
  gap: 30px;
  margin-top: 55px;
  display: flex;
  overflow: hidden;
}
.blogs .blog-list .item {
  border-radius: 16px;
  background: white;
  flex-shrink: 0;
  width: calc(33.33%-20px);
}
.blogs .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blogs .blog-list .thumb {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.blogs .blog-list .info {
  padding: 20px 20px 28px;
  align-items: center;
}
.blogs .blog-list .date {
  color: #5f5b53;
  font-size: 1.4rem;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.blogs .blog-list .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 4px;
}
.blogs .blog-list .date::after {
  content: "";
  display: inline-block;
  width: 160px;
  height: 1px;

  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
}
.blogs .blog-list .info .title {
  width: 330px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}

.blogs .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}
.blogs .btn:hover {
  background-color: var(--primary-color);
}

.blogs .blog-list .line {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blogs .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blogs .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* =============footer=============== */
.footer {
  margin-top: 135px;
  padding: 65px 0;
  background-color: #2e2100;
  display: block;
  width: 100%;
}

.footer .row {
  display: flex;
  border-bottom: 1px solid #59554b;
  padding-bottom: 18px;
}

.footer .row .logo {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
}

.footer .row .column {
  width: 22%;
}

.footer .column:first-child {
  width: 35%;
}

.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
  width: 267px;
  margin-top: 18px;
}

.socialsicon {
  display: flex;
  gap: 18px;
  margin-top: 18px;
  /* padding-top: 18px; nếu có padding thì nền sẽ bị tô đỏ */
  /* background: red; */
}

.footer .title {
  display: inline-block;
  width: 130px;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-bottom: 28px;
  padding-bottom: 14px;
}

.footer .list a {
  display: inline-block;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  margin-bottom: 12px;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}
.footer .copyright {
  margin: 28px auto;
  width: 30%;
  color: #807d74;
}
